@font-face {
  font-family: 'iconfont';  /* Project id 1201513 */
  src: url('//at.alicdn.com/t/font_1201513_4k8x6hf80lw.woff2?t=1628671925424') format('woff2'),
  url('//at.alicdn.com/t/font_1201513_4k8x6hf80lw.woff?t=1628671925424') format('woff'),
  url('//at.alicdn.com/t/font_1201513_4k8x6hf80lw.ttf?t=1628671925424') format('truetype');
}
.iconfont{
  font-family: "iconfont" !important;
  font-size: 25px;
  font-style: normal;
  vertical-align:middle;
  fill: currentColor;
}
